# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\FPOLY_CLASS\SOF304_SP24_BL2\SOURCE-CODE\bai-tap-2303\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
